.img-galery{
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  }
  
  .img-galery:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }

  .content-galery{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: minmax(200px, auto);
      grid-auto-flow: dense;
      gap: 20px;
      padding: 20px;
  }
@media(min-width: 600px){
    .wide {
        grid-column: span 2;
      }
    .wide-big {
        grid-column: span 3;
      }
    
    .tall{
        grid-row: span 2;
      }
    .tall-big{
        grid-row: span 3;
      }
}
  